* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.pjesa1 {
    margin: 30px;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #151515;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav i {
    color: #000000;
}

.nav .logo {
    width: 100px;
    height: 100px;
}

.nav .logo img {
    max-width: 150px;
    max-height: 100px;
    display: block;
}

.img {
    height: 150px;
    width: 100px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.nav__link {
    /* position: fixed; */
    width: 93%;
    top: 8rem;
    left: 18px;
    background-color: #C73659;
    z-index: 999;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.nav__link a:hover {
    background-color: #A91D3A;
}

.hide {
    display: none;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #151515;
}

.all h1 {
    width: 87%;
    margin-top: 30px;
    /* margin-left: 30px; */
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #a91d3a;
}

.all {
    align-items: center;
    display: flex;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #a91d3a;
    flex-wrap: wrap;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.kategorite {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.kategori {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.kategorite div {
    background-color: #f5bfbf;
    border-radius: 8px;

}

.kategorite p {
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    color: black;
}

.kategorite p1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    color: black;
}

.kategorite i {
    margin-left: 30px;
    margin-top: 30px;
    color: white;
}

.kategorite i:hover,
p1:hover {
    color: #a91d3a;
}


@media (max-width: 425px) {

.kategorite {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

}

@media (max-width: 320px) {
.all h1{
    /* width: 70%; */
    margin-top: 6px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #a91d3a;
}

}




.swiper {
    width: 100%;
}

@media (max-width: 589px) {
    .swiper {
        width: 90%;
    }
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #f5bfbf;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

section .card .image {
    height: 170px;
    width: 140px;
    padding-left: 18px;
    background: #f5bfbf;
}

section .card .image img {
    width: 84%;
    object-fit: cover;
    border: 3px solid #fff;
}

.card .media-icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover {
    opacity: 1;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    font-size: 18px;
    margin: 0 2px;
    color: #A91D3A;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.card .button button {
    background: #A91D3A;
    outline: none;
    border: none;
    color: #fff;
    padding: 11px 13px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.swiper-pagination {
    position: absolute;
}

.categories {
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    opacity: 0.7;
    color: #a82844;
    transition: all 0.3s ease;
    top: 40%;
}

section {
    align-items: center;
    justify-content: center;
}

.button button:hover {
    background: #f5bfbf;
}

.swiper-pagination-bullet {
    height: 0;
    width: 26px;
    border-radius: 25px;
    background: #A91D3A;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #a82844;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #A91D3A;
}

/* Category Tabs Section */
.category-tabs {
    background-color: #A91D3A;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.categories {
    /* height: 70vh; */
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.category-tabs h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: -90px;
}

.category-tabs .tab-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-tabs .tab-button:hover,
.category-tabs .tab-button.active {
    background-color: #fff;
    color: #f5bfbf;
}

.categories {
    background: #f2f2f2;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.autoret p {
    font-weight: bold;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: black;
}


.autoret {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    /* height: 70%; */
}

.item {
    align-items: center;
    display: flex;
    justify-content: center;
}

.autoret img {
    border-radius: 100%;

}

.owl-carousel div {
    align-items: center;
    flex-direction: column;
}

.footer-before-content {
    text-align: center;
}

footer {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-part {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-part h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-part img {
    max-width: 120px;
}

.text-center {
    text-align: center;
}

form#newsletter-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

form#newsletter-form input#email {
    border: 1px solid #000;
    font-size: 17px;

    padding: 16px 9px;
    width: calc(100% - 112px);

}

form#newsletter-form button#newsletter-submit {
    height: 100%;
    background: #000;
    color: #fff;
    font-size: 17px;
    padding: 17px 43px;
}

h5.newsletter-title {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0;
}

.footer-before-content p {
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-heading .categoriesledia {
    display: flex;
    gap: 10px;
}

.section-heading h2 {
    font-size: 35px;
}

.single-title img {
    object-fit: cover;
    max-width: 100%;
}

.single-title {
    padding: 26px;
    /* height: calc(100% - (2 * 26px)); */
    border: 1px solid #cacaca;
    border-bottom: none;
    text-decoration: none;
    transition: all .2s ease-in-out;
    display: block;
}

.selected-title .single-title {
    position: sticky;
    top: 0;
}

.single-title:hover {
    border: 1px solid #000;
    background: #fff8f8;
}

.single-title .title .b-title {

    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    margin-bottom: 0;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;
    cursor: pointer;
    overflow: hidden;
    color: #000;
    transition: all .1s ease-in-out;
}

.single-title:hover .add-to-cart {
    height: 13px;
}

.card-header {
    /* margin-bottom: 13px; */
    text-align: center;
}

.red {
    color: #ff5353;
}

.gray {
    color: #cecece;
}

p.author {

    margin: 8px 0px;
}

.card-body h3 span {
    display: block;
    font-size: 50px;
    margin-bottom: 3px;
    line-height: 1;
}

.card-body h3 span.gray {
    font-size: 26px;
    text-transform: uppercase;
}

.card-body h3 {
    margin-top: 42px;
}

.price {
    color: #000;
    font-weight: bold;
}

.btn {
    background: #ce4b52;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 10px;
    display: inline-block;
}

.categoriesledia .tab {
    text-transform: capitalize;
}

/* .ot {
    position: relative;
} */

.other-titles {
    /* position: absolute;
    top: 0; */
    transition: all .4s ease-in-out;
}

.other-titles:not(.show) {
    /* pointer-events: none; */
    height: 0;
    overflow: hidden;
}

.tab.bold {
    font-weight: bold;
}

.mevete {
    margin: 20px;
}

@media (min-width: 700px) {

    .single-title img {
        max-height: 148px;
    }

    .selected-title img {
        max-height: unset;
    }

    .other-titles .other-titles__flex {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .releases-grid {
        display: grid;
        grid-template-columns: 30% 70%;
        /* border: 1px solid #cacaca; */
    }

    
}

@media (min-width: 840px) {
    .other-titles__flex .single-title {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
}

@media (min-width: 1093px) {

    .other-titles__flex .single-title {
        display: block;
        /* max-height: 585px; */
    }

    /* .selected-title {
        min-height: 1070px;
    } */

    .single-title img {
        max-height: unset;
    }

    .other-titles .other-titles__flex {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
}

@media (min-width: 1277px) {
    .single-title .title a {
        font-size: 20px;
    }
}

@media (max-width: 555px) {
    .section-heading {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .footer-part {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 900px) {

    form#newsletter-form {
        flex-direction: row;
    }

    form#newsletter-form input#email {
        width: 400px;
        flex-direction: row;
        padding: 17px 27px;

    }
}

@media (min-width: 1049px) {
    form#newsletter-form input#email {
        width: 522px;
    }
}

@media screen and (min-width: 1440px) {
    .nav__link {
        display: block;
        /* position: static; */
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}
